build/
*.so
*.a
*.pyc
*.pyo
*.pyd
*.lock
*.Identifier
eval_results/
runs/
logs/
data/outputs/
data/cmu/
# allow json and txt files in data/cmu
!data/cmu/*.json
!data/cmu/*.txt
!data/cmu/*.log


nn/
nn_base_run/
dart/
# pixi environments
.pixi/*
!.pixi/config.toml
